

   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #656565;
   
}
h2{
    text-align: center;
    padding: 30px;
   
 
}
body{
    color: #656565;
    font-family: 'Hahmlet', serif;
    width: 100%;
   
}
#title {
    width: 100%;
    height: 100vh;
    background-color: #F4F2E7;
    text-align: center;
}
#title > h1{
    height: 12vh;
    font-size: 27px;
    padding-top: 30px;
    padding-bottom: 12px;
}
#title > p{
    height: 10vh;
    padding-bottom: 22px;
    font-size: 21px;
}
#title img{
    width: 100%;
    height: 57vh;
    object-fit: cover;
    display: block;       
}
#title  .introText p {
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    height: 20vh;
    margin-top: 20px;
    
    
   
    
}




#section2{
    text-align: center;
}
#section2 > .weddingText > p{
    line-height: 40px;
    font-size: 18px;
}
#section2 > .weddingText > p:last-child{
    margin-top: 48px;
}

#section2 > .call{
    height: 25vh;
    display: flex;
    justify-content: center;
    margin-top: 42px;
}
#section2 > .call >  .bride > p{
    color: #DFC25C;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
           
}
#section2 > .call >  .groom > p{
    color: #DFC25C;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
           
}
#section2 > .call > .groom {
    height: 20vh;
    border-right:  dashed rgb(177, 177, 177) 1px;
    padding: 10px;
    padding-right: 30px;
}
#section2 > .call > .groom  > ul > li{
    padding-top: 10px;
    font-size: 17px;
}
#section2 > .call > .bride{
    padding: 10px;
    padding-left: 30px;
}
#section2 > .call > .bride  > ul > li{
    padding-top: 10px;
    font-size: 17px;
}

#section2 > .call > .bride  > ul > li > a > img{
    margin-right: 30px;
    width: 30px;
}
#section2 > .call > .groom  > ul > li > a > img{
    margin-right: 30px;
    width: 30px;
}

#section2 > .call > .groom.bride > ul > li > a > img{
    padding-right: 50px;
    
}

#section3{
    background: #F4F2E7;
  
}
.video{
    position: relative;
    padding-bottom: 60.25%;
    background: #DFC25C;
}
.video iframe{
    position: absolute;
    left: 0;
    bottom: 0;
}




#section4 > .location-word > .location-view{
   font-size: 13px;
   padding-top: 6px;
   text-align: center;
   
}
#section4 > .location-word > .location-info{
   line-height: 30px;
   font-size: 17px;
   text-align: center;
   padding-bottom: 31px;
}
#section4 > .location-word > .icon{
   display: flex;
   justify-content: center;
   padding-top: 35px;
   padding-bottom: 29px;
}


#section4  > .trans {
   display: flex;
   justify-content: center;
   font-size: 14px;
   padding-bottom: 30px;
}
#section4  > .trans > ul > li{
   padding: 10px;
   margin-left: 10px;

}
#section4  > .trans > ul > li >img{
   margin-right: 7px;
}



footer{
   padding: 10px;
   text-align: center;
   background: #656565;
   color: white;
   font-size: 13px;
   line-height: 25px;
}
footer > a{
   color: white;
}
